html, body{
  overflow-x: hidden;
}
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color:#333333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
}
h2 {
  font-size:28px;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: center;
}
h3 {
  font-size:21px;
  font-weight: 400;
  margin-bottom: 5px;
}
h4 {
  font-size:18px;
  text-transform:uppercase;
  font-weight: 400;
  margin-bottom: 5px;
}
p {
  font-size:16px;
  line-height: 19px;
  font-weight: 100;
}
img {
  max-width: 100%;
  height: auto;
}
@media (min-width:768px) {
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 21px;
  }
}

/* GRID */
.container {
  width: 290px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  width:96%;
  float:left;
  position:relative;
  min-height: 1px;
  margin:0 2% 20px;
}
@media (min-width: 768px) {
   .container {
     width: 738px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 962px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }

/* HEADER */
 header {
   color:#FFFFFF;
   background: #0F4174;
   background-image: linear-gradient(-180deg, #0F4174 12%, #3498DB 99%);
 }
 header nav {
   padding:2em 0 0 0;
   text-align:center;
 }
 header nav ul {
   display:inline;
   text-align:center;
   float:none;
   margin:0;
 }
 header nav ul > li {
   text-transform:uppercase;
   font-size:14px;
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 0px;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header .hero {
   text-align: center;
   display:block;
   position: relative;
   padding: 4em 0 0 0;
 }
 header .hero h1 {
   font-size:36px;
   font-weight: 400;
   margin:0 0 0 0;
 }
 header .hero p {
   font-size: 16px;
   line-height: 20px;
   font-weight: 100;
   margin:25px 0 40px 0;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }
 @media (min-width:768px) {
   header .hero h1 {
     font-size:48px;
   }
   header .hero p {
     font-size:22px;
     line-height: 26px;
   }
   header nav {
     text-align:left;
   }
   header nav ul {
     float:right;
   }
 }
 @media (min-width: 1200px) {
   header .hero h1 {
     font-size:54px;
   }
 }

 /* BUTTONS */
 .btn {
   border-radius: 0px;
   color:#FFFFFF;
   font-size:14px;
   font-weight: 400;
   text-decoration: none;
   text-transform:uppercase;
   padding:10px 30px;
   background: #F03C69;
   border: 2px solid #F03C69;
   box-shadow: 0px 2px 0px 0px #A2193B;
 }
 .btn:hover {
   background: #8CD93F;
   border: 2px solid #8CD93F;
   box-shadow: 0px 2px 0px 0px #22894E;
 }

 /* BENEFITS */
 .benefits {
   text-align: center;
   display:block;
   position:relative;
   padding:4em 0;
 }
 .benefits ul {
   margin: 0 auto;
   padding:2em 0 0 0;
 }
 .benefits ul li {
   list-style-type: none;
   display: inline-block;
 }
 .benefits i {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojOENEOTNGOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiMyMjg5NEY7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
   background-image: -webkit-gradient(linear, left top, 180deg, color-stop(0%, #8CD93F), color-stop(100%, #22894F));
   background-image: -moz-linear-gradient(180deg,#8CD93F 0%,#22894F 100%);
   background-image: -webkit-linear-gradient(180deg,#8CD93F 0%,#22894F 100%);
   background-image: -o-linear-gradient(180deg,#8CD93F 0%,#22894F 100%);
   background-image: -ms-linear-gradient(180deg,#8CD93F 0%,#22894F 100%);
   background-image: linear-gradient(180deg,#8CD93F 0%,#22894F 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   position:relative;
   display:inline-block;
   font-size:70px;
   margin:0;
   vertical-align: middle;
 }
 .benefits h2 {
   color:#3498DB;
 }
 .benefits h3 {
   color:#000000;
 }

 /* PRICING */
  .pricing {
    background: #34495E url("../images/background.png") top center no-repeat;
    background: url("../images/background.png") top center no-repeat, linear-gradient(-180deg, #0F4174 12%, #3498DB 99%);
    background-size:cover;
    text-align: center;
    padding:4em 0;
  }
  .pricing h2, .pricing p {
    color:#FFFFFF;
  }
  .pricing ul {
    margin:0 auto;
    padding:2em 0 0 0;
  }
  .pricing ul li {
    list-style-type: none;
  }
  .box {
    padding:0 15px 15px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
    min-height: 380px;
    position: relative;
    margin-top: 10px;
  }
  @media (min-width:768px) {
    .box {
      min-height: 440px;
      margin-top: 25px;
    }
  }
  .box.middle {
    min-height: 380px;
    margin-top:10px;
  }
  @media (min-width:768px) {
    .box.middle {
    min-height: 490px;
    margin-top:0px;
   }
  }
  .box h4 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background: #E2E2E2;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
    left:0;
    right:0;
    top:0;
    text-align: center;
    margin:0 -15px 40px;
    padding:10px 0;
  }
  .box h5 {
    font-size:42px;
    font-weight: normal;
    margin:40px 0 10px;
    color:#3498DB;
  }
  @media (min-width:768px) {
    .box h5 {
      font-size:50px;
    }
  }
  .box h5 span {
    font-size:32px;
    vertical-align: top;
  }
  .box h5 span.month {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color:#888888;
    font-size:20px;
    vertical-align: middle;
  }
  .box ul li {
    font-size:16px;
    margin-bottom:20px;
    font-weight: 100;
  }
  @media (min-width:768px) {
    .box ul li {
      font-size:18px;
    }
  }
  .box .btn {
    position:absolute;
    bottom:20px;
    left:20px;
    right:20px;
  }
  .small {
    font-size: 12px;
    color: #FEFEFE;
    line-height: 15px;
    font-style:italic;
  }

  /* TESTIMONIALS */
  .testimonials {
    padding:4em 0;
    text-align: center;
  }
  .testimonials h2 {
    color:#3498DB;
  }
  .testimonials ul li {
    list-style-type: none;
  }
  .testimonials img {
    height: 100px;
    width: 100px;
    border-radius:50%;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.30);
  }
  @media (min-width:992px) {
    .testimonials img {
      height: 115px;
      width: 115px;
    }
  }
  @media (min-width:1200px) {
    .testimonials img {
      height: 130px;
      width: 130px;
    }
  }
  .testimonials p.name {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
  }
  .testimonials blockquote {
    font-size:14px;
    font-weight:300;
    line-height:19px;
    text-align: center;
    width:auto;
    margin:10px 0 0 0;
  }
  .readmore {
    text-decoration:none;
    color: #F03C69;
    font-size:14px;
    font-weight:400;
    line-height:26px;
  }
  .readmore:hover {
    text-decoration:none;
    color: #8CD93F;
    font-size:14px;
    font-weight:400;
    line-height:26px;
  }
  .bio {
    padding:20px;
    margin-top: 10px;
    background-color:#E2E2E2;
    border-radius:12px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  }
  .bio.middle {
    padding:20px;
    margin-top: 10px;
    background-color:#E2E2E2;
    border-radius:12px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  }
  @media (min-width:768px) {
    .bio.middle {
      margin-top: 40px;
    }
  }

/* LAST CALL */
.last-call {
  background: #34495E url("../images/lastcall.png") top center no-repeat;
  background: url("../images/lastcall.png") top center no-repeat, linear-gradient(-180deg, #0F4174 12%, #3498DB 99%);
  background-size:cover;
  text-align: center;
  padding:4em 0 7em 0;
}
.last-call h2, .last-call p {
  color:#FFFFFF;
}

/* FOOTER */
 footer {
   background-color: #4A4A4A;
   color: #FFFFFF;
   padding: 2em 0;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   margin:10 px auto 0;
   padding:0;
   color:#FFFFFF;
 }
 footer nav ul li {
   list-style-type: none;
   margin:0;
   padding:0;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 footer nav ul li a:hover {
   color:#696969;
   text-decoration: none;
 }
 footer .left-footer-block {
   text-align:center;
 }
 footer .middle-footer-block {
   text-align:center;
 }
 footer .right-footer-block {
   text-align:center;
 }
 footer .logo {
   margin: 10px auto 0;
 }
 @media (min-width: 768px) {
   footer .left-footer-block {
     text-align:left;
   }
   footer .right-footer-block {
     text-align:right;
   }
 }

/* DASHBOARD */
 .dashboard {
   background:#FFFFFF;
 }

 /* LEFT NAVBAR SETTINGS */
 .left-nav {
   padding:30px 0 0 30px;
   height: 100vh;
   width:14.66666667%;
   color:#FFFFFF;
   background: #3498DB;
   background-image: linear-gradient(206deg, #3498DB 0%, #8CD93F 94%);
   float:left;
   position: fixed;
   display:block;
 }
 .left-nav .site-logo {
   padding-bottom:30px;
   display:block;
   text-align: left;
 }
 .left-nav .btn {
   margin:0 30px 0 0;
   display:block;
   text-align:center;
 }
 .left-nav .items {
   padding:20px 0 0 0;
 }
 .left-nav .items p {
   font-weight: 600;
   text-transform: uppercase;
   font-size: 16px;
   color: #333333;
   line-height: 15px;
 }
 .left-nav .items ul {
   margin:0 0 40px;
   padding:0;
 }
 .left-nav .items ul li {
   list-style-type: none;
   margin-bottom: 15px;
 }
 .left-nav .items ul li a {
   color:#FFFFFF;
   text-decoration: none;
   font-weight: 100;
 }
 .left-nav .items ul li a i {
   width:16px;
   text-align: center;
   margin-right:8px;
 }
 /* LEFT NAVBAR SETTINGS */
 .left-nav .settings {
   position:absolute;
   background:#F03C69;
   width:100%;
   bottom:0;
   left:0;
   right:0;
   padding:10px 0;
   margin-bottom:30px;
 }
 .left-nav .settings img {
   height:35px;
   width:35px;
   border-radius: 50%;
   margin-left:10px;
   display: inline-block;
 }
 .left-nav .settings p {
   display: inline-block;
   vertical-align: top;
   padding-top: 8px;
   font-weight: 400;
   margin:0 0 0 10px;
 }
 .left-nav .settings a {
   color:#FFFFFF;
   text-decoration: none;
   text-align: right;
   float: right;
   margin-right:10px;
   margin-top:8px;
 }

/* CONTENT ROWS */
.content {
  padding:6em 1% 1.5em;
  float:right;
  width:98%;
  position: relative;
}
.content .header {
   margin:0 1% 20px;
 }
 .content .header h1 {
   font-weight: 300;
   margin:0 0 30px;
   font-size: 36px;
   color: #3498DB;
   line-height: 44px;
   float: left;
   display:inline-block;
 }
 .content .header > a {
   float:right;
 }
.content-item {
  width:96%;
  margin:0 2% 25px;
  float:left;
  display:block;
}
/* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }

 /* CONTENT ITEMS */
 .item-box {
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.20);
   position: relative;
   overflow: hidden;
   padding:20px;
   border-radius:16px;
 }
 .item-box img {
    position:absolute;
    height:100%;
    width:auto;
    top:0;
    left:0;
    right:0;
  }
  .item-box h2 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    text-align:left;
    margin:0;
  }
  .item-box h2 a {
    color: #F03C69;
    text-decoration: none;
  }
  .item-box h2 a:hover {
    color: #8CD93F;
    text-decoration: none;
  }
  .item-box h2 img {
    width:16px;
    height:16px;
    position:relative;
    top:2px;
    margin-right:5px;
  }
  .item-box p {
    font-size: 14px;
    color: #333333;
    line-height: 18px;
    margin:5px 0 0;
  }
